<div class="container" style="width:90%;">
    @{
        ViewBag.Title = "Contact";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        BuildSchool Shop<br />
        地址：新竹市香山區五福路二段<br />
        電話：03-1234567<br />
        電話客服時間：週一～週五，11:00～17:00<br />
        (ID:12345678)Line線上客服時間：週一～週一，12:00～12:00<br />
        <abbr title="Phone">0931547589</abbr>
        30012
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Buildschool@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Buildschool@gmail.com</a>
    </address>
</div>
