<div class="container" style="width:90%;">
    @{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        BuildSchool Shop<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">0931547589</abbr>
        30012
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Buildschool@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Buildschool@gmail.com</a>
    </address>
</div>
